* {
  padding: 0px;
  margin: 0px;
}

body,html {
  height: 100%;
}

body{
  background-image: url("images/bg-image.JPG");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  background-color: #2CC3CC;
  padding: 15px 0px;
  text-align: right;
}

nav ul{
  display: inline-block;
}

nav li {
  padding: 0px 15px;
  display: inline;
  font-size: 20px;
  font-family: arial;
}

nav a {
  text-decoration: none;
  color: #fafafa;
}

nav a:hover {
  color: #fb8332;
  font-weight: bold;
}

#icon {
  float: left;
  width: 75px;
  height: 75px;
  padding-left: 50px;
}

#icon-nav{
  text-align: center;
}

#nav-current {
	color: #fb8332;
  font-weight: bolder;
}

#landing-container {
  min-height: 100%;

}

p {
  padding: 0px;
  margin: 0px;
}

.master-header {
  color: #fafafa;
  font-size: 60px;
  padding: 75px 0px 0px 75px;
  text-shadow: #000 2px 2px;
}

.slave-header {
  color: #fafafa;
  font-size: 48px;
  padding-left: 75px;
  text-shadow: #000 2px 2px;
}


footer {
  text-align: center;
  background-color: #fb8332;
  font-size: 18px;
  font-family: arial;
  padding: 5px 0px;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

footer a:hover{
  color: #fafafa;
}
